.slick-prev,
.slick-next {
  z-index: 10; /* Đảm bảo mũi tên nằm trên slide */
}

.slick-prev:hover,
.slick-next:hover {
}

/* Vị trí cho mũi tên */
.slick-prev {
  /* Điều chỉnh vị trí bên trái */
}

.slick-next {
  /* Điều chỉnh vị trí bên phải */
}

.slick-prev:before,
.slick-next::before {
  color: gray;
  display: flex;
}

.slick-disabled {
  opacity: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}
